<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Cliente</title>
</head>
<body>
    <h1>Detalle del Cliente</h1>
    <a href="/clientes/lista">Volver a la lista</a>
    <br><br>

    <h3><%= cliente.nombrerazonsocial %></h3>
    
    <table border="1">
        <tr>
            <td><b>ID Cliente:</b></td>
            <td><%= cliente.idcliente %></td>
        </tr>
        <tr>
            <td><b>Nombre / Razon Social:</b></td>
            <td><%= cliente.nombrerazonsocial %></td>
        </tr>
        <tr>
            <td><b>RFC:</b></td>
            <td><%= cliente.rfc %></td>
        </tr>
        <tr>
            <td><b>CURP:</b></td>
            <td><%= cliente.curp || '-' %></td>
        </tr>
        <tr>
            <td><b>Tipo de Cliente:</b></td>
            <td><%= cliente.tipocliente %></td>
        </tr>
        <tr>
            <td><b>Estatus:</b></td>
            <td><%= cliente.estatuscliente %></td>
        </tr>
        <tr>
            <td><b>Contacto Principal:</b></td>
            <td><%= cliente.nombrecontactoprincipal || '-' %></td>
        </tr>
        <tr>
            <td><b>Telefono:</b></td>
            <td><%= cliente.telefono || '-' %></td>
        </tr>
        <tr>
            <td><b>Correo Electronico:</b></td>
            <td><%= cliente.correoelectronico || '-' %></td>
        </tr>
        <tr>
            <td><b>Calle:</b></td>
            <td><%= cliente.callenumero || '-' %></td>
        </tr>
        <tr>
            <td><b>Colonia:</b></td>
            <td><%= cliente.colonia || '-' %></td>
        </tr>
        <tr>
            <td><b>Ciudad:</b></td>
            <td><%= cliente.ciudad || '-' %></td>
        </tr>
        <tr>
            <td><b>Estado:</b></td>
            <td><%= cliente.estado || '-' %></td>
        </tr>
        <tr>
            <td><b>Codigo Postal:</b></td>
            <td><%= cliente.codigopostal || '-' %></td>
        </tr>
        <tr>
            <td><b>Limite Operativo:</b></td>
            <td>$<%= cliente.limiteoperativoautorizado || 0 %></td>
        </tr>
        <tr>
            <td><b>Nivel de Riesgo:</b></td>
            <td><%= cliente.nivelriesgo %></td>
        </tr>
        <tr>
            <td><b>Es PEP:</b></td>
            <td><%= cliente.espep ? 'Si' : 'No' %></td>
        </tr>
        <tr>
            <td><b>Observaciones:</b></td>
            <td><%= cliente.observaciones || '-' %></td>
        </tr>
    </table>

    <br><br>
    <a href="/clientes/editar?id=<%= cliente.idcliente %>">Editar Cliente</a>
    &nbsp;|&nbsp;
    <a href="/clientes/documentos?id=<%= cliente.idcliente %>">Ver Documentos</a>
</body>
</html>