<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <a href="/">Dashboard</a>
    <br><br>

    <a href="/clientes/expediente">+ Nuevo cliente</a>
    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre / Razon social</th>
                <th>RFC</th>
                <th>Tipo</th>
                <th>Riesgo</th>
                <th>PEP</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(function(c) { %>
            <tr>
                <td><%= c.idcliente %></td>
                <td><%= c.nombrerazonsocial %></td>
                <td><%= c.rfc %></td>
                <td><%= c.tipocliente %></td>
                <td><%= c.nivelriesgo %></td>
                <td><%= c.espep ? 'Si' : 'No' %></td>
                <td><a href="/clientes/editar?id=<%= c.idcliente %>">Editar</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>